.wrapper{
  display: flex;
}
.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
  padding: 0 20px;
}
.chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding: 0 40px;
}
.chat-header{
  height: 100px;
}
.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px;
}
.form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 0;
}
.side-header{
  height: 100px;
}
.rooms{
  background: #2F3E51;
  height: calc(100vh - 100px);
}